.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    padding: 50px;
}
.shadow-lg:hover {

    background-color: aliceblue;

}


@media (max-width: 500px) {
.grid-flow-col {
    grid-auto-flow: dense !important;
}
}

@media (min-width: 1280px) {
.xl\:grid-flow-col {
    grid-auto-flow: column;
}
}


@media (max-width: 500px) {
    .div1 {

    padding-top: 200px;
}
}

.bg-teal-500 {
    --bg-opacity: 1;
    background-color: royalblue !important;
}